/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containers {
    margin-top: 2rem;
    border: 1px solid gray;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

h1 {
    color: #333;
}

.choices {
    margin: 20px 0;
    border: 1px solid gray;
    border-radius: 1rem;
}

.choice {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: transform 0.2s, border-color 0.2s;
}

.choice:hover {
    transform: scale(1.1);
    border-color: #007bff;
}

.output-image {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}

.one {
    display: flex;
    justify-content: center;
    column-gap: 100px;
}

#results {
    margin-top: 20px;
    font-size: 18px;
    color: #444;
}

#computer-choice-image,
#user-choice-image {
    border: 2px solid gray;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.2s;
}

#reset:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


#reset_round{
    margin: 10px;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.2s;
}

#reset_round:hover {
    background-color: rgb(27, 203, 77);
    transform: scale(1.05);
}

#reset_user{
    margin: 10px;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s, transform 0.2s;
}
#reset_user:hover{
    background-color: rgb(236, 7, 71);
    transform: scale(1.05);
}
.resets{
    margin: 0.2rem;
}
p {
    margin: 5px 0;
}

#countdown {
    font-size: 24px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; */
    color: #ff4500;
    margin-bottom: 10px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #333;
    color: #f0f8ff;
}

.profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.photo {
    background-color: rgba(255, 255, 255, 0.3);
    height: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    width: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.photo:hover {
    transform: scale(0.9);
    transition: transform 1s ease-in-out;
}

.name {
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
}

.photo i {
    width: 100%;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 25rem;
    gap: 2rem;
    font-size: 1rem;
}

.login {
    border: 2px solid gray;
    width: 7rem;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}


.login:hover {
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

.register {
    border: 2px solid gray;
    width: 7rem;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}


.register:hover {
    transform: scale(0.9);
    transition: transform 0.2s ease-in-out;
}

.register p {
    z-index: 1;
}

.round {
    color: white;
}

@media screen and (max-width: 600px) {
    .one {
        flex-direction: column;
        justify-content: center;
    }



}

.alert {
    transition: opacity 1s ease-in-out;

}

.round-wrapper {
    position: relative;
}

#roundError {
    display: none;
    position: absolute;
    right: 0px;
    top: -2rem;
    width: 22rem;
    padding: 6px;
    border-radius: 2rem;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    50% {
        transform: translateX(4px);
    }

    75% {
        transform: translateX(-4px);
    }

    100% {
        transform: translateX(0);
    }
}

i {
    font-size: 25px;
    cursor: pointer;
}

.inputf {
    margin: 2rem;
}

.username {
    width: 30rem;
    height: 2.5rem;
    border-radius: 1rem;
    padding-left: 2rem;
    font-size: large;
}

.rounds {
    width: 30rem;
    height: 2.5rem;
    border-radius: 1rem;
    padding-left: 2rem;
    font-size: large;
}
.submit{
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 16px;
    font-weight: bolder;
}
.gameForm{
    margin: 3rem;
}

